.footer {
  background-color: var(--footer-bg-color); /* Use theme footerBgColor */
  color: gray;
  padding: 1rem 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Arial', sans-serif;
}